body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
}

p {
  opacity: 0.7;
}
